<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 검색</title>
    <script src="/webjars/jquery/3.6.3/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/webjars/bootstrap/5.1.3/css/bootstrap.min.css'>

</head>
<body>
    <h1>블로그 검색</h1>
    <hr>
    <h6>블로그 검색을 하실 수 있습니다.</h6>

    <div class="col-sm-3">
        <div id="datatables-column-search-text-inputs_filter-2" class="dataTables_filter">
            <div class="input-group mb-3">
                <select id="search-sort-item-condition" class="form-select mw-130">
                    <option th:selected="${#strings.equals(condition.sortItem, 'accuracy')}" value="accuracy">정확도순</option>
                    <option th:selected="${#strings.equals(condition.sortItem, 'recency')}" value="recency">최신순</option>
                </select>

                <input th:value="${condition.query}" id="input-search-val" type="search" class="form-control form-control-sm" aria-controls="datatables-column-search-text-inputs" placeholder="검색어를 입력해주세요">
                <button id="btn-search-submit" class="btn btn-primary" type="button">검색</button>
            </div>
        </div>
    </div>


    <!-- table -->
    <div class="row">
        <div class="col-sm-12">
            <table id="datatables-reponsive" class="table table-striped" style="width: 100%;">
                <thead>
                <tr>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: auto;">블로그 글 제목</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="max-width: 200px;">블로그 글 요약</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="max-width: 150px;">블로그 글 URL</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="width: auto">블로그의 이름</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="max-width: 80px;">미리보기URL</th>
                    <th tabindex="0" rowspan="1" colspan="1" style="max-width: 80px;">블로그 글 작성시간</th>
                </tr>
                </thead>
                <th:block th:if="${pageInfo.totalCount} == 0">
                    <tbody>
                    <td colspan="6" align="center">데이터가 없습니다.</td>
                    </tbody>
                </th:block>
                <th:block th:if="${pageInfo.totalCount} > 0">
                    <tbody>
                    <tr th:each="blogInfo, iStat : ${blogInfoList}" th:class="${iStat.odd ? 'odd' : 'even'}">
                        <td th:text="${blogInfo.title}">블로그 글 제목</td>
                        <td th:text="${blogInfo.contents}">블로그 글 요약</td>
                        <td th:text="${blogInfo.url}">블로그 글 URL</td>
                        <td th:text="${blogInfo.blogName}">블로그의 이름</td>
                        <td th:text="${blogInfo.thumbnail}">미리보기URL</td>
                        <td th:text="${blogInfo.dateTime}">시간</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

    </div>

    <div th:if="${pageInfo.isEnd == false}">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{'/blog/search?query=' + ${condition.query} +'&sort=' +${condition.sortItem} + '&page=1'}" aria-label="Previous">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" th:class="${pageNum} == ${currentPage} ? 'active'">
                <a class="page-link" th:href="@{'/blog/search?query=' + ${condition.query} + '&sort=' +${condition.sortItem} + '&page=' + ${pageNum}}"><span th:text="${pageNum}"></span></a>
            </li>
        </ul>
    </div>


    <script>
        function getUrl(page) {
            let sortItem = $('#search-sort-item-condition option:selected').val();
            let query = $('#input-search-val').val();

            let condition = {
                page: page,
                query: query,
                sort: sortItem
            }
            let url= '/blog/search?' + $.param(condition);
            console.log(condition);
            return url;
        }

        $('#btn-search-submit').on('click', function (e) {
            location.href = getUrl(1);
        });

    </script>
</body>
</html>







